node_modules
app
.gradle
.vscode
cypress
src/components/__tests__
.eslintrc.cjs
.prettierrc.json
cypress.config.ts
src/components/WebRTC copy.js
SSL
android.keystore
gradlew
gradlew.bat
build.gradle
manifest-checksum.txt
settings.gradle
store_icon.png
twa-manifest.json
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradle.properties
app-release-unsigned-aligned.apk
app-release-signed.apk.idsig
app-release-bundle.aab
